@use "../../assets/sass/variables" as *;

.cardList{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 0.5rem;
    row-gap: 1rem;
    font-size: 2rem;
    color:$color-black;
}
