@use "../../assets/sass/variables" as *;


.card{
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba($color-black, 0.25);
    width:17rem;
    height:35rem;
    text-align: center;
    
    &__img{
        margin-top: 20px;
        max-height: 20rem;
    }
    .card-content{

        & > * {
            margin: 10px 0;
        }

        &__name{
            margin: 20px 0;
            font-size: 1.6rem;
            height:3.5rem;
        }

        &__abv{

            font-size: 1.2rem;
        }

        &__button {
            bottom: 20px;
            left: 20px;
            min-width: 80px;
            padding: 10px 20px;
            border-radius: 15px;
            border: none;
            background-color: transparent;
            border: 2px solid $color-primary;
        }

        &__description{
            //TODO:fix the height
            font-size: 0.8rem;
            height: 100%;
            padding: 0px 20px;
            top: 0;
            overflow-y: auto;
            background: rgba($color-black, 0.5);
            white-space: pre-line;
        }

        &__heading {
            margin: 20px 0;
            font-size: 25px;
        }
        
        &__close {
            height: 25px;
            width: 25px;
            position: absolute;
            right: 20px;
            top: 15px;
        }
    }
}