@use "../../assets/sass/variables" as *;


.card{
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba($color-black, 0.25);
    width:17rem;
    height:26rem;
    text-align: center;
    
    &-img{
        margin-top: 20px;
        max-height: 20rem;
    }
    &-name{
        font-size: 1.2rem;
        height: 3rem;
    }

    &-content{
        position: absolute;
        display: none;
        width:17rem;
        height:26rem;
        background-color: rgba($color-black, 0.5);

        &__name{
            margin: 20px 0;
            font-size: 1rem;
            height:2.5rem;
        }

        &__character{
            font-size: 0.8rem;
            height: 100%;
            padding: 0px 20px;
            top: 0;
            overflow-y: auto;
            background: rgba($color-black, 0.5);
            white-space: pre-line;
        }

        &__button {
            bottom: 20px;
            left: 20px;
            min-width: 80px;
            padding: 10px 20px;
            border-radius: 15px;
            border: none;
            background-color: transparent;
            border: 2px solid $color-primary;
        }
    }
    &:hover > &-content{
        display: flex;
        flex-direction: column;
        }
    &:hover> &-name{
            display: none;
        }
}