@use "./assets/sass/variables" as *;


.app {
    color: $color-black;
    display:flex;
    flex-direction: column;
    // background-image: linear-gradient($color-black, $color-white);
    background-color: $color-grey;
    
}
